<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://localhost:8000/css/bg.css" />
    <link rel="stylesheet" href="http://localhost:8000/css/header.css" />
    <link rel="stylesheet" href="http://localhost:8000/css/error.css" />
    <link rel="stylesheet" href="http://localhost:8000/css/footer.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Header -->
    <div id="header">
      <a href="http://localhost:8000"><h1 id="logo"></h1></a>
      <ul id="nav"></ul>
    </div>
    <!-- Header End -->
    <!-- Content -->
    <div id="content">
      <div id="error_box">
        <div class="alert_icon"></div>
        <div class="error_title">관리자 설정 이슈</div>
        <div class="error_content">
          <p>서비스 관리자의 확인이 필요합니다</p>
          <a href="">돌아가기</a>
        </div>
      </div>
    </div>
    <!-- Content End -->

    <!-- Footer start -->
    <div id="footer">
      <div id="footer_container">
        <div class="footer_logo"></div>
        <div class="footer_title">DECENTRALIZED IDENTIFIER</div>
      </div>
    </div>
    <!-- Footer End -->
  </body>
</html>
