<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://13.124.189.38:8000/css/bg.css" />
    <link rel="stylesheet" href="http://13.124.189.38:8000/css/header.css" />
    <link rel="stylesheet" href="http://13.124.189.38:8000/css/loginFrm.css" />
    <link rel="stylesheet" href="http://13.124.189.38:8000/css/footer.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Header -->
    <div id="header">
      <a href="http://helpless-did.shop"><h1 id="logo"></h1></a>

      <ul id="nav"></ul>
    </div>
    <!-- Header End -->
    <!-- Content -->
    <div id="content">
      <div class="content_title">
        <div class="title_icon"></div>
        <p class="title">Login to DID</p>
      </div>
      <form
        id="loginFrm"
        action="http://13.124.189.38:8000/authorizor/auth"
        method="POST"
      >
        <ul>
          <li>
            <input class="id" name="userId" type="text" placeholder="Id" />
          </li>
          <li>
            <input
              class="pw"
              name="userPw"
              type="password"
              placeholder="Password"
            />
          </li>
          <button class="login_btn" type="submit">Log in</button>
          <div class="border"></div>
          <a href="http://helpless-did.shop/user/regist" class="sign_up_btn"
            >Sign up</a
          >
          <p style="color: red">{{error}}</p>
        </ul>
      </form>
    </div>
    <!-- Content End -->

    <!-- Footer start -->
    <div id="footer">
      <div id="footer_container">
        <div class="footer_logo"></div>
        <div class="footer_title">DECENTRALIZED IDENTIFIER</div>
      </div>
    </div>
    <!-- Footer End -->
  </body>

  <script>
    const loginFrm = document.querySelector('#loginFrm');
    const url = location.href;
    const redirectUri = url
      .split('?')
      .at(-1)
      .split('&')
      .map((v) => v.split('='))
      .filter((v) => v[0] === 'redirectURI')[0][1];
    const curAction = loginFrm.action;
    const newAction = `${curAction}?redirectURI=${redirectUri}`;
    loginFrm.action = newAction;
  </script>
</html>
