<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      id="login"
      action="http://localhost:3000/authorizor/auth"
      method="POST"
    >
      <ul>
        <li>id:<input class="id" name="userId" type="text" /></li>
        <li>pw:<input class="pw" name="userPw" type="text" /></li>
        <button type="submit">로그인</button>
        <p>{{error}}</p>
      </ul>
    </form>
  </body>
  <script>
    const loginFrm = document.querySelector('#login');
    const url = location.href;
    loginFrm.action = url;
    console.log(url);
  </script>
</html>
